/* ============================= */
/* -------- General CSS -------- */
/* ============================= */

body {
    color: #666666;
    -family: "Open Sans", sans-serif;
    font-weight: 300;
    background: #ffffff;
  }
  
  a {
    color: #af9483;
    transition: 0.5s;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #666666;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 15px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Solway", serif;
    color: #666666;
    margin: 0 0 15px 0;
    padding: 0;
  }
  
  .back-to-top {
    position: fixed;
    display: none;
    background: #af9483;
    color: #ffffff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #ffffff;
  }
  
  /* ============================= */
  /* ------ Top Header CSS ------- */
  /* ============================= */
  
  .top-header {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
    color: #ffffff;
  }
  
  .top-header:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url(../img/top-header.png) left top repeat;
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    z-index: -1;
  }
  
  .top-header .container {
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
  }
  
  .top-header img {
    height: 200px;
    margin-bottom: 30px;
    border: 15px solid rgba(256, 256, 256, 0.1);
  }
  
  .top-header h1 {
    font-size: 5vw;
    font-weight: 700;
    color: #ffffff;
  }
  
  .top-header p {
    display: none;
  }
  
  .top-header h2 {
    display: inline-block;
    margin: 0;
    height: 40px;
    font-size: 3vw;
    font-weight: 400;
    color: #ffffff;
  }
  
  .top-header .typed-cursor {
    font-size: 3vw;
  }
  
  /* ============================= */
  /* -------- Header CSS --------- */
  /* ============================= */
  
  .header {
    background: #af9483;
    height: 70px;
  }
  
  .header .logo {
    margin: 14px 25px 0 0;
  }
  
  .header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 2px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 3px;
  }
  
  .header .logo h1 a,
  .header .logo h1 a:hover {
    color: #ffffff;
  }
  
  @media (max-width: 768px) {
    .header {
      height: 50px;
    }
  
    .header .logo {
      margin: 10px 0 0 0;
    }
  
    .header .logo h1 {
      padding: 2px 0;
      font-size: 26px;
    }
  }
  
  .header .social-nav {
    margin-top: 15px;
  }
  
  .header .social-nav a {
    font-size: 24px;
    margin-left: 15px;
    color: #fff;
  }
  
  .header .social-nav a:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  
  .nav-menu,
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu > li {
    float: left;
  }
  
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block;
  }
  
  .nav-menu ul ul {
    top: 0;
    left: 100%;
  }
  
  .nav-menu ul li {
    min-width: 180px;
  }
  
  .sf-arrows .sf-with-ul {
    padding-right: 30px;
  }
  
  .sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
  }
  
  .sf-arrows ul .sf-with-ul:after {
    content: "\f105";
  }
  
  #nav-menu-container {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #nav-menu-container {
      display: none;
    }
  }
  
  .nav-menu a {
    padding: 22px 15px;
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    outline: none;
  }
  
  .nav-menu a:hover,
  .nav-menu li:hover > a,
  .nav-menu .menu-active > a {
    color: #000000;
  }
  
  .nav-menu ul {
    margin: 7px 0 0 15px;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
  }
  
  .nav-menu ul li {
    background: #ffffff;
    border-top: 1px solid #f4f4f4;
  }
  
  .nav-menu ul li:first-child {
    border-top: 0;
  }
  
  .nav-menu ul li:hover {
    background: #af9483;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .nav-menu ul li a {
    color: #333333;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    padding: 10px 15px;
  }
  
  .nav-menu ul li a:hover {
    color: #ffffff;
  }
  
  .nav-menu ul ul {
    margin: 0;
  }
  
  #mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 8px 10px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  
  #mobile-nav-toggle i {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    #mobile-nav-toggle {
      display: inline;
    }
  
    .logo {
      width: 100%;
      text-align: center;
    }
  }
  
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #mobile-nav ul li {
    position: relative;
  }
  
  #mobile-nav ul li a {
    color: #ffffff;
    font-size: 16px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
  }
  
  #mobile-nav ul li a:hover {
    color: #ffffff;
  }
  
  #mobile-nav ul li li {
    padding-left: 30px;
  }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #ffffff;
  }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #af9483;
  }
  
  #mobile-nav ul .menu-item-active {
    color: #af9483;
  }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: none;
  }
  
  body.mobile-nav-active {
    overflow: hidden;
  }
  
  body.mobile-nav-active #mobile-nav {
    left: 0;
  }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #ffffff;
  }
  
  /* ============================= */
  /* ------- Header Title -------- */
  /* ============================= */
  
  .section-header h2,
  .section-header h3 {
    display: inline-block;
    color: #af9483;
    font-size: 35px;
    text-transform: capitalize;
    text-align: left;
    font-weight: 700;
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid #af9483;
  }
  
  .section-header h2::before,
  .section-header h3::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    bottom: 0px;
    right: 0;
    border-top: 10px solid;
    border-right: 10px solid;
    border-color: transparent #af9483;
  }
  
  .section-header h2::after,
  .section-header h3::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    bottom: 0px;
    left: 0;
    border-top: 10px solid;
    border-left: 10px solid;
    border-color: transparent #af9483;
  }
  
  .section-header p {
    text-align: left;
    padding-bottom: 0px;
  }
  
  @media (min-width: 992px) {
    .section-header p {
      width: 70%;
    }
  }
  
  /* ============================= */
  /* ------- About Me CSS -------- */
  /* ============================= */
  
  .about {
    padding: 60px 0 15px 0;
    position: relative;
  }
  
  .about .row {
    margin-bottom: 30px;
  }
  
  .about img {
    width: 100%;
  }
  
  .about h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
  }
  
  .about h4 {
    font-size: 16px;
    font-weight: 400;
  }
  
  .about p {
    font-size: 16px;
    font-weight: 300;
  }
  
  .about a {
    display: inline-block;
    padding: 6px 20px;
    color: #af9483;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    border: 1px solid #af9483;
  }
  
  .about a:hover {
    color: #ffffff;
    background: #af9483;
  }
  
  .about .skills h3 {
    font-size: 22px;
    font-weight: 700;
    color: #666666;
    margin-bottom: 15px;
  }
  
  .about .skill-name {
    position: relative;
    width: 100%;
  }
  
  .about .skill-name p {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
  }
  
  .about .skill-name p:last-child {
    float: right;
  }
  
  .about .progress {
    margin-bottom: 15px;
    border-radius: 0;
  }
  
  .about .progress .progress-bar {
    background: #af9483;
    border-radius: 0;
  }
  
  /* ============================= */
  /* ------- Education CSS ------ */
  /* ============================= */
  
  .education {
    position: relative;
    padding: 60px 0 15px 0;
  }
  
  .education .section-header p {
    margin: 0;
  }
  
  .education .edu-column {
    margin-top: 30px;
    padding: 25px 30px;
    background: #e9ecef;
  }
  
  .education .edu-column::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 30px;
    right: 100%;
    left: 15px;
    background: #af9483;
  }
  
  .education .edu-column::after {
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    right: 15px;
    left: 100%;
    background: #af9483;
  }
  
  .education .edu-column:hover::before {
    transition: 0.3s;
    right: 15px;
  }
  
  .education .edu-column:hover::after {
    transition: 0.3s;
    left: 15px;
  }
  
  .education .edu-date {
    margin-bottom: 5px;
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  .education .edu-date span {
    font-weight: 400;
    font-style: italic;
  }
  
  .education .edu-college {
    margin-bottom: 0;
    color: #af9483;
    font-size: 18px;
    font-weight: 400;
  }
  
  .education .edu-designation {
    margin-bottom: 10px;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
  }
  
  .educaiton .edu-detail {
    margin-bottom: 0;
  }
  
  /* ============================= */
  /* ------- Experience CSS ------ */
  /* ============================= */
  
  .experience {
    position: relative;
    padding: 60px 0 15px 0;
  }
  
  .experience .section-header p {
    margin: 0;
  }
  
  .experience .exp-column {
    margin-top: 30px;
    padding: 25px 30px;
    background: #e9ecef;
  }
  
  .experience .exp-column::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 30px;
    right: 100%;
    left: 15px;
    background: #af9483;
  }
  
  .experience .exp-column::after {
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    right: 15px;
    left: 100%;
    background: #af9483;
  }
  
  .experience .exp-column:hover::before {
    transition: 0.3s;
    right: 15px;
  }
  
  .experience .exp-column:hover::after {
    transition: 0.3s;
    left: 15px;
  }
  
  .experience .exp-date {
    margin-bottom: 5px;
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
  }
  
  .experience .exp-date span {
    font-weight: 400;
    font-style: italic;
  }
  
  .experience .exp-company {
    margin-bottom: 0;
    color: #af9483;
    font-size: 18px;
    font-weight: 400;
  }
  
  .experience .exp-designation {
    margin-bottom: 10px;
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
  }
  
  .experience .exp-detail {
    margin-bottom: 0;
  }
  
  /* ============================= */
  /* -------- Services CSS ------- */
  /* ============================= */
  
  .services {
    padding: 60px 0;
    text-align: center;
    background: #ffffff;
  }
  
  .services .section-header {
    text-align: left;
  }
  
  .services .section-header p {
    margin: 0;
  }
  
  .services .single-service {
    position: relative;
    text-align: center;
    font-weight: 300;
    margin: 30px 0 0;
    padding: 25px 15px 30px 15px;
    background: #e9ecef;
  }
  
  .services .single-service::before {
    position: absolute;
    content: "";
    height: 3px;
    top: 0;
    right: 100%;
    left: 0;
    background: #af9483;
  }
  
  .services .single-service::after {
    position: absolute;
    content: "";
    height: 3px;
    bottom: 0;
    right: 0;
    left: 100%;
    background: #af9483;
  }
  
  .services .single-service:hover::before {
    transition: 0.3s;
    right: 0;
  }
  
  .services .single-service:hover::after {
    transition: 0.3s;
    left: 0;
  }
  
  .services .single-service .service-icon {
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto 20px;
    text-align: center;
    width: 120px;
    color: #af9483;
  }
  
  .services .single-service h4,
  .services .single-service h4 a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .services .single-service p {
    margin-bottom: 0;
  }
  
  .services .single-service span {
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
  }
  
  /* ============================= */
  /* -------- Counter CSS -------- */
  /* ============================= */
  
  .counters {
    padding: 60px 0;
    position: relative;
    text-align: center;
    color: #ffffff;
    background: #af9483;
  }
  
  .counters .counter .counter-icon-box {
    color: #ffffff;
    margin: 0;
    font-size: 50px;
    transition: all 400ms linear 0s;
  }
  
  .counters .counter:hover .counter-icon-box {
    transform: translateY(-15px);
  }
  
  .counters .counter .number {
    font-size: 70px;
    margin: 0 0 15px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Solway", serif;
  }
  
  .counters .number:after {
    color: #fff;
    content: "+";
    font-size: 40px;
    position: absolute;
    top: calc(50% + 25px);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .counters .counter h4 {
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  /* ============================= */
  /* ------- Portfolio CSS ------- */
  /* ============================= */
  
  .portfolio {
    position: relative;
    clear: both;
    padding: 60px 0 30px 0;
  }
  
  .portfolio .section-header p {
    margin-bottom: 30px;
  }
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: -15px 0 30px 0;
    list-style: none;
    text-align: center;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 15px -3px 5px -3px;
    display: inline-block;
    padding: 10px 15px;
    color: #af9483;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    border: 1px solid #af9483;
    background: #ffffff;
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio #portfolio-flters li:hover,
  .portfolio #portfolio-flters li.filter-active {
    background: #af9483;
    color: #ffffff;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-item {
    position: relative;
    height: 250px;
    overflow: hidden;
  }
  
  .portfolio .portfolio-item figure {
    background: #af9483;
    overflow: hidden;
    height: 220px;
    position: relative;
    border-radius: 0;
    margin: 0;
  }
  
  .portfolio .portfolio-item figure:hover img {
    opacity: 0.3;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-item figure .link-preview,
  .portfolio .portfolio-item figure .link-details,
  .portfolio .portfolio-item figure .portfolio-title {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 60px;
    height: 40px;
    background: #ffffff;
    transition: 0.2s linear;
  }
  
  .portfolio .portfolio-item figure .link-preview i,
  .portfolio .portfolio-item figure .link-details i {
    padding-top: 9px;
    font-size: 22px;
  }
  
  .portfolio .portfolio-item figure .link-preview:hover,
  .portfolio .portfolio-item figure .link-details:hover {
    background: #af9483;
  }
  
  .portfolio .portfolio-item figure .link-preview:hover i,
  .portfolio .portfolio-item figure .link-details:hover i {
    color: #ffffff;
  }
  
  .portfolio .portfolio-item figure .link-preview {
    left: 50%;
    top: calc(25% - 18px);
  }
  
  .portfolio .portfolio-item figure .link-details {
    right: 50%;
    top: calc(25% - 18px);
  }
  
  .portfolio .portfolio-item figure .portfolio-title {
    margin: 0;
    width: 100%;
    height: 50%;
    left: 0;
    right: 0;
    top: 100%;
    padding: 30px 10px;
    color: #666666;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    background: rgba(256, 256, 256, 0.8);
    border-radius: 0;
  }
  
  .portfolio .portfolio-item figure .portfolio-title span {
    display: block;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .portfolio .portfolio-item figure:hover .link-preview {
    opacity: 1;
    left: calc(50% - 77px);
  }
  
  .portfolio .portfolio-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 77px);
  }
  
  .portfolio .portfolio-item figure:hover .portfolio-title {
    opacity: 1;
    top: 50%;
  }
  
  .portfolio .portfolio-wrap figure .img-fluid {
    width: 100%;
    /* max-width: 100%; */
    height: 100%;
  }
  
  /* ============================= */
  /* ------ Testimonials CSS ----- */
  /* ============================= */
  
  .testimonials {
    background: url("../img/testimonial-bg.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 40px 0 60px 0;
    text-align: center;
    position: relative;
  }
  
  .testimonials .container {
    max-width: 700px;
  }
  
  .testimonials::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(000, 000, 000, 0.7);
  }
  
  .testimonials .container {
    position: relative;
    z-index: 9;
  }
  
  .testimonials i {
    padding: 20px 0;
    color: #af9483;
  }
  
  .testimonials .testimonial-item {
    text-align: center;
  }
  
  .testimonials .testimonial-item .testimonial-img {
    width: 120px;
    border: 10px solid rgba(256, 256, 256, 0.1);
    margin: 0 auto;
  }
  
  .testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0 5px 0;
    color: #af9483;
  }
  
  .testimonials .testimonial-item h4 {
    color: #999999;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin: 0 0 10px 0;
  }
  
  .testimonials .testimonial-item p {
    color: #ffffff;
    font-weight: 300;
    margin: 0 auto;
  }
  
  .testimonials .owl-nav,
  .testimonials .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  .testimonials .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  
  .testimonials .owl-dot.active {
    background-color: #af9483;
  }
  
  /* ============================= */
  /* -------- Contact CSS -------- */
  /* ============================= */
  
  .contact {
    position: relative;
    padding: 60px 0;
  }
  
  .contact .contact-info p {
    margin-bottom: 10px;
    color: #666666;
    font-size: 22px;
    font-weight: 300;
  }
  
  @media (max-width: 575px) {
    .contact .contact-info p {
      font-size: 16px;
    }
  }
  
  .contact .contact-info a {
    color: #666666;
  }
  
  .contact .contact-info a:hover {
    color: #af9483;
  }
  
  .contact .contact-info i {
    width: 30px;
    color: #af9483;
  }
  
  .contact .social {
    position: relative;
    width: 100%;
  }
  
  .contact .social a {
    display: inline-block;
    margin: 10px 10px 0 0;
    width: 40px;
    height: 40px;
    padding: 1px 0;
    text-align: center;
    font-size: 22px;
    border: 1px solid #af9483;
  }
  
  .contact .social a i {
    color: #af9483;
  }
  
  .contact .social a:hover {
    background: #af9483;
  }
  
  .contact .social a:hover i {
    color: #ffffff;
  }
  
  .contact .form {
    color: #666666;
    font-weight: 300;
  }
  
  .contact .form input,
  .contact .form textarea {
    color: #666666;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #af9483;
    border-radius: 0;
    box-shadow: none;
  }
  
  .contact .form button[type="submit"] {
    padding: 7px 30px 10px 30px;
    color: #af9483;
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid #af9483;
    background: #ffffff;
  }
  
  .contact .form button[type="submit"]:hover {
    background: #af9483;
    color: #ffffff;
  }
  
  /* ============================= */
  /* --------- Footer CSS -------- */
  /* ============================= */
  
  .footer {
    position: relative;
    padding: 30px 0;
    text-align: center;
    background: #222222;
  }
  
  .footer .copyright p {
    color: #999999;
    font-size: 18px;
    font-weight: 300;
  }
  
  .footer .copyright p:last-child {
    margin: 0;
  }